body {
  background-color: #7eb1d1;
  font-family: "Anonymous Pro", monospace;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.weather-app {
  background-color: #ffffff;
  max-width: 600px;
  border-radius: 15px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 15px 20px #233d4a8f;
}
